$primary-color: #2CBC75;
$secondary-color: #4EE49A;
$lowest-gray: #333333;
$highest-gray: #eeeeee;
$low-gray: #777777;
$mid-gray: #999999;
$high-gray: #dddddd;
$white: #FFFFFF;
$black: #000000;

.navbar {
  background: $primary-color;
  .navbar-toggler {
    border: none;
    &[aria-expanded="false"] {
      .icon {
        &.icon-hamburger-menu {
          &:before {
            display: block;
            content: ' ';
            background-image: url('../images/icon-hamburger.svg');
            background-size: 1.3125rem 1rem;
            height: 1rem;
            width: 1.3125rem;
          }
        }
      }
    }
    &[aria-expanded="true"] {
      .icon {
        &:before {
          display: block;
          content: ' ';
          background-image: url('../images/icon-close.svg');
          background-size: 1.3125rem 1rem;
          height: 1rem;
          width: 1.3125rem;
        }
      }
    }

  }
}

.icon {
  &.icon-hamburger-menu {
    &:before {
      display: block;
      content: ' ';
      background-image: url('../images/icon-hamburger.svg');
      background-size: 1.3125rem  1rem;
      height: 1rem;
      width: 1.3125rem;
    }
  }
  &.icon-close {
    &:before {
      display: block;
      content: ' ';
      background-image: url('../images/icon-close.svg');
      background-size: 1.3125rem  1rem;
      height: 1rem;
      width: 1.3125rem;
    }
  }
}

.block-system-branding-block {
  margin: 0 auto;
  .site-logo {
    img {
      max-width: 8rem;
    }
  }
}
